<form (ngSubmit)="createUser()">
  <header>
    <h2>Inscription</h2>
  </header>
  <br>
  <md-input-container style="left:80px">
    <input mdInput placeholder="First Name" name="FN" [(ngModel)]="user.firstName">
  </md-input-container><br>
  <md-input-container style="left:80px">
    <input mdInput placeholder="Last Name" name="LN" [(ngModel)]="user.lastname">
  </md-input-container><br>
  <md-input-container style="left:80px">
    <input mdInput placeholder=" Username" name="username" [(ngModel)]="user.username">
  </md-input-container><br>
  <md-input-container style="left:80px">
    <input type="password" mdInput placeholder="paswword" name="password" [(ngModel)]="user.password">
  </md-input-container>
  <button type="submit" class="button buttonBlue">Valider
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>

</form>