<form ngNoForm>
  <header>
    <h2>Authentification</h2>
  </header>
  <div class="group">
    <input placeholder="username" type="text" [(ngModel)]="credentials.username" />
    <span class="highlight"></span><span class="bar"></span>
    <br/>
  </div>
  <div class="group">
    <input type="password" placeholder="password" [(ngModel)]="credentials.password" />
    <br/>
  </div>
  <div *ngIf="errorMsg" class="alert alert-danger">
    {{errorMsg}}
  </div>
  <button type="button" class="button buttonBlue" (click)="login()">se connecter
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <button type="button" class="button buttonBlue" (click)="register()">Register
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <footer>
  </footer>
</form>