<div class="col-sm-2 sidenav">
    <h2>Nav bar 1</h2>
    <ul class="list-group">
        <li class="list-group-item">First item</li>
        <li class="list-group-item">Second item</li>
        <li class="list-group-item">Third item</li>
    </ul>
</div>
<div class="col-sm-10">
    <md-toolbar class="fixed-header">
        <button style="margin-left: 900px" md-button (click)="logout()"><span class="glyphicon glyphicon-log-out"></span></button>

        <button class="app-icon-button" (click)="sidenav.open()">
          <i class="material-icons app-toolbar-menu">menu</i>
     </button>
    </md-toolbar>
    <md-sidenav-container class="example-container">

        <md-sidenav align="end" #sidenav class="example-sidenav">
            Helloo side nav 2 </md-sidenav>
        ici
    </md-sidenav-container>

</div>