.example-container {
  width: 500;
  height: 900px;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.sidenav{
  background-color: grey
}
.col-sm-10{
  padding-left: 1px;
}

.col-sm-2{
height: 900px}